<!DOCTYPE html>
<html lang="el">
<head>
    <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>

    <meta name="google-site-verification" content="6JnD8JKKXR4ptH3W9M4QhYtCegQkjhrlQOYl4ip74CE" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <meta name="description" content="{% if page.description %}{{ page.description }} | {% endif %}{{ site.description }}"/>
    <meta name="author" content="{{site.author}}"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta property="og:locale" content="el_GR" />

    {% if page.is_post %}
    <meta property="og:title" content="{{ page.title }}">  
    <meta property="og:type" content="article" />  
    <meta property="og:description" content="{{ page.description }}">  
    {% else %}
    <meta property="og:title" content="{{ site.name }}">   
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ site.description }}">    
    {% endif %}

    <meta property="og:url" content="{{ site.github.url }}{{ page.url }}" />
    <meta property="og:site_name" content="{{ site.name }}" />

    {% if page.cinema_url %}
    <meta property="og:image" content="{{ page.cinema_url }}" />
    {% else %}
    <meta property="og:image" content="{{site.github.url}}/assets/images/cinemas/home_cinema.jpg" />
    {% endif %}

    <meta name="theme-color" content="#3b3d3f">

    <script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"WebSite","url":"https:\/\/mariabarb.github.io\/","name":"Μαρία Μπαρμπουλέτου - Ζωή σαν παραμύθι"}</script>

    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Person",
          "email": "mailto:mariabarbouletou@gmail.com",
          "jobTitle": "Παιδαγωγός - Αφηγήτρια",
          "name": "Mαρία Μπαρμπουλέτου",
          "telephone": "(+30) 697 418 1052",
          "url": "https://mariabarb.github.io"
        }
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-90383137-1', 'auto');
      ga('send', 'pageview');
    </script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="alternate" href="https://mariabarb.github.io/" hreflang="x-default" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://use.fontawesome.com/272373d2a7.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/application.css">

    <link rel="icon" href="/favicon.ico">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="header">
                <div class="header-main-title"><a href="{{site.github.url}}/index">Mαρία Μπαρμπουλέτου</a></div>
                <div class="header-sub-title">{{site.description}}</div>
                <div class="hidden-xs">
                    <ul class="header-links">
                        <li class="{% if page.url == '/' %} active {% endif %}"><a href="{{site.github.url}}/index">Αρχική</a></li>
                        <li class="{% if page.url == '/about.html' %} active {% endif %}"><a href="{{site.github.url}}/about">Προφίλ</a></li>
                        <li class="{% if page.url == '/contact.html' %} active {% endif %}"><a href="{{site.github.url}}/contact">Επικοινωνία</a></li>
                    </ul>
                </div>
                <div class="visible-xs">
                    <div class="header-links">
                        <div class="{% if page.url == '/' %} active {% endif %}"><a href="{{site.github.url}}/index">Αρχική</a></div>
                        <div class="{% if page.url == '/about.html' %} active {% endif %}"><a href="{{site.github.url}}/about">Προφίλ</a></div>
                        <div class="{% if page.url == '/contact.html' %} active {% endif %}"><a href="{{site.github.url}}/contact">Επικοινωνία</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if page.cinema_url %}
<div class="cinema" style="background-image: url(&quot;{{page.cinema_url}}&quot;);"></div>
{% else %}
<div class="cinema" style="background-image: url(&quot;/assets/images/cinemas/home_cinema.jpg&quot;);"></div>
{% endif %}

<div class="container"> 
     <div class="row visible-xs">
        <div class="col-xs-12 col-sm-4 col-lg-3">
            <div class="small-header-column">
                <div class="author-image-container pull-left">
                    <div class="author-image">
                        <a href="{{site.github.url}}/about">
                            <img src="{{site.github.url}}/assets/images/profile.jpg">
                        </a>
                    </div>
                </div>

                <div class="author-name">Μαρία Μπαρμπουλέτου | <a href="{{site.github.url}}/about.html">Προφίλ</a></div>

                <div class="footer-row">
                    <div class="social-row text-large">
                        <a href="{{ site.social.facebook }}" target="blank"><i class="fa fa-facebook"></i></a>
                        <a href="mailto:{{ site.personal_info.email }}"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-8 col-lg-9 end">
            {{ content }}
        </div>

        <div class="col-xs-12 col-sm-4 col-lg-3">
            <div class="header-column hidden-xs">
                <div class="author-image-container">
                    <div class="author-image">
                        <a href="{{site.github.url}}/about">
                            <img src="{{site.github.url}}/assets/images/profile.jpg">
                        </a>
                    </div>

                    <div class="author-name">Μαρία Μπαρμπουλέτου</div>
                    <div class="author-description">Παιδαγωγός - Αφηγήτρια</div>
                </div>

                <div class="footer-row text-center">
                    <div class="social-row text-large">
                        <a href="{{ site.social.facebook }}" target="blank"><i class="fa fa-facebook-square"></i></a>
                        <a href="mailto:{{ site.personal_info.email }}"><i class="fa fa-envelope-square"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-footer-row">
    <div class="col-xs-12 end text-right">
        <div>Copyright &copy; Maria Barbouletou {{ site.time | date: '%Y' }}</div>
        Design by <a href="https://arcanoid.github.io">Vasilis Kalligas</a>
    </div>
</div>

</body>
</html>
